{"lastCommentChecked":"t1_0000000","config":{"commentLimit":10,"commentSub":"SUBREDDIT","cssClass":"points","client_id":"CLIENT_ID","secret":"CLIENT_SECRET","username":"USERNAME","password":"PASSWORD"}}
